module.exports = {
  name: "Test user",
  phone: "222 22 222",
  price: 10,
  message: "Vinlotteri 🍾",
  date: 5,
  hours: 15,
  apiUrl: null,
  gatewayToken: 'qK48YChORZOX4FqAwgzdOrfYT2-bixwshtRe-BogNksBZyUrMHLTh0-XOjsxziPV',
  vinmonopoletToken: 'd658de16a85048fe996c19fd2b77af1f',
  googleanalytics_trackingId: 'UA-156846886-1',
  googleanalytics_cookieLifetime: 60 * 60 * 24 * 14,
  sites: [{
    code: 'test',
    domain: 'lottis.vin'
  }]
};

