module.exports = {
  name: "Test user",
  phone: "222 22 222",
  price: 10,
  message: "Vinlotteri 🍾",
  date: 5,
  hours: 15,
  apiUrl: null,
  gatewayToken: '***REMOVED***',
  vinmonopoletToken: '***REMOVED***',
  googleanalytics_trackingId: '***REMOVED***',
  googleanalytics_cookieLifetime: 60 * 60 * 24 * 14,
  sites: [{
    code: 'test',
    domain: 'lottis.vin'
  }]
};

