ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCqEEr56FAFq674o97M3QOO7ApL+vCUPm4QPUi2JjuSfh/kfPK6LAprUtsIvud2PLQKLPWR2i9UZJzcX/4C/oLPMGhm1gQjBen8ZapvYTXZF7q1IOrLI6Lv3o8t4/Ma3tEElNHGQOzcjyMLqoj7kZyKl9TM3BxynBUBBdgWs1ihT6zjtwyKV9W9TDfy07WHTEQmRr5JJOrhOEJR3TtX7/l32g5U0TC2oQfN3G1pLCBtR1thRrVUIurdbGRxRA5LvwuvXxkckVdl09DPauftSFBWAiTZPMrH0M7g8IV1SktQQwb8bgSudbxQPzBsnm4u+g/MXHbvozDue1XLxtHi+2ad adrian@wrok-machine
